header#masthead {
  padding-bottom: 0.75em;
  margin-bottom: 0.75em;
}

// ====================
// SEARCHBAR SECTION
// ====================

header div#SearchBar {
  display: grid;
  width: 90%;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  margin: 10px auto 20px;

  @media only screen and (max-width: 425px) {
    display: flex;
    flex-direction: column;
  }

  div#searchBarInput {
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    justify-content: start;
    //flex-wrap: wrap;

    @media only screen and (max-width: 425px) {
      display: flex;
      order: 2;
      justify-content: center;
      //width: 100%;
    }

    form {
      display: flex;
      justify-content: center;
      margin: 10px 0;

      @media only screen and (max-width: 425px) {
        width: 100%;
      }

      @media only screen and (min-width: 768px) {
        justify-content: start;
      }

      input {
        border-radius: 5px;
        padding: 5px;
        max-width: 90%;
        margin-right: 10px;
        @media only screen and (min-width: 425px) {
          max-width: 50%;
        }

        @media only screen and (max-width: 425px) {
          width: 70%;
        }
      }
      button {
        padding: 5px;
        border-radius: 3px;
      }
    }

    // @media only screen and (max-width: 768px) {
    //   grid-row-start: 2;
    //   grid-row-end: 3;
    //   grid-column-start: 1;
    //   grid-column-end: 2;
    // }
  }

  div#searchBarImage {
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    @media only screen and (max-width: 425px) {
      display: flex;
      order: 1;
      justify-content: center;
    }

    a {
      img {
        width: 500px;
        height: auto;

        @media only screen and (max-width: 425px) {
          //width: 90%;
        }
      }
    }
  }

  div#loginBar {
    grid-column-start: 3;
    grid-column-end: end;
    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: 425px) {
      display: flex;
      order: 3;
      justify-content: center;
      margin-top: 5px;
    }

    a.btn,
    a {
      padding: 3px 6px;
      width: 30%;
      border-radius: 5px;
      text-align: center;
      align-self: center;
      color: brown;
      font-weight: bold;

      @media only screen and (max-width: 425px) {
        font-size: 0.8em;
        width: 45%;
      }

      @media only screen and (min-width: 425px) {
        width: 30%;
        font-size: 0.7em;
      }
      @media only screen and (min-width: 768px) {
        width: auto;
        font-size: 0.9em;
      }
    }
  }
}

div.storefront-primary-navigation nav#site-navigation {
  margin: 0 auto;
  // width: 90%;
  float: none;

  div.primary-navigation {
    width: 100%;

    ul {
      display: flex;
      justify-content: space-between;
    }
  }
}

div.storefront-primary-navigation nav#site-navigation {
  ul.sub-menu li {
  }
}
// ====================
// NAVBAR SECTION
// ====================

.navbarDropdown {
  display: none;
  text-align: right;
  background-color: #fff;
  height: auto;
  margin-bottom: 5px;

  a {
    height: auto;
    color: #545454;
  }
}

@media screen and (max-width: 425px) {
  .navbarDropdown {
    //top: 0px;
    //background-color: #fff;
    height: auto;
    text-align: right;
    display: block;

    i {
      margin-right: 7px;
      margin-top: 7px;
    }
  }
}

header nav#site-navigation {
  width: 100%;

  ul#redlevMainMenu {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-bottom: 0;

    @media screen and (max-width: 425px) {
      height: auto;
      overflow: hidden;
      display: none;
    }

    li {
      flex-grow: 1;
      position: relative;
      text-align: center;

      @media screen and (max-width: 425px) {
        margin: 0px;
        padding: 0px;
        display: block;
        text-align: left;
      }

      a {
        color: #545454;
        text-transform: uppercase;
        font-family: "Open Sans", "Arial", sans-serif;
        font-weight: 700;
        letter-spacing: 1px;
        font-size: 1em;

        @media screen and (max-width: 768px) {
          //font-size: 1.1em;
        }

        @media screen and (max-width: 425px) {
          border-bottom: 1px solid rgb(184, 184, 184);
          font-size: 1em;
        }
      }

      //Places an arrow for the elements who have sub items under them(like a dropdown menu)
      a:not(:only-child):after,
      a:visited:not(:only-child):after {
        padding-left: 4px;
        content: " ▾";
      }

      //sub-menu stylings
      ul.sub-menu {
        //Submenus won't appear unless you hover on the parent li
        display: none;
        width: inherit;
        margin: 0;
        padding: 0;
        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
        background-color: white;

        //Positioning of the unordered list
        position: absolute;
        top: 75%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: inherit;

        @media screen and (max-width: 425px) {
          margin: 10px 0;
          padding: 0px;
          display: none;
          position: static;
        }

        li {
          display: block;
          border-bottom: grey;

          &:first-child {
            border-bottom: none;
          }

          a {
            text-align: left;
            padding-left: 15px;
            border-bottom: 1px solid rgb(220, 220, 220);
          }
        }
      }

      //Submenus will appear on hover on desktop mode
      &:hover > ul.sub-menu {
        display: block;
        cursor: pointer;
        height: auto;
      }
    }
  }
}

/*-------------NAV STRIPE CONTAINER/*-------------*/

header > .desktop-nav-stripe-container {
  width: 100%;
  height: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  display: block;
  margin-bottom: 1rem;

  .desktop-nav-stripe {
    width: 20%;
    height: 5px;
    float: left;
  }
}

/*-------------NAV STRIPE CONTAINER/*-------------*/

// =====================================
// QUICK CATEGORY CHOOSER
// =====================================

nav.quick-category-chooser ul#redlevCategoryMenu {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  list-style-type: none;
  margin: 0;
  li {
    display: inline;
    margin-top: 0.5em;
    letter-spacing: 1px;
    margin-right: 1em;

    :hover {
      color: orange;
    }

    a {
      color: white;
      background-color: #007abf;
      border-radius: 5px;

      padding: 0.5em 0.8em;
      line-height: 1.6em;
      font-family: "Oswald", "Arial", sans-serif;

      @media screen and (min-width: 768px) {
        font-size: 0.8em;
      }

      @media screen and (max-width: 768px) {
        font-size: 0.75em;
      }

      @media screen and (max-width: 425px) {
        font-size: 0.8em;
      }
    }
  }
}
